<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <h1>Admins</h1>
    <% admins.map(admin => { %>
        <div class="adminPanel"> 
            <span><%=admin.username %></span>
            <span><%=admin.createdAt.toISOString().slice(0, 19).replace('T', ' ') %></span>
            <span><%=admin.updatedAt.toISOString().slice(0, 19).replace('T', ' ') %></span>

        </div>
    <% }) %>
</body>
</html>